@font-face
{
    font-family:alice;
    src: url(../fonts/Alice.ttf);
}

body{
   padding: 0;
   margin: 0;
}
.banner{
  height:500px;
  margin-left: auto;
  margin-right:auto;
  margin-top:0px;
  padding-top:1px;
  background-image: url(../pics/header.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
}
.banner .mission h1{
  text-align:left;
  font-size: 3.6rem;
  color:red;
  padding-top:10px;
  font-weight:bold;
}
.banner .mission h2{
  text-align:left;
  padding-top:120px;
  padding-left: 10px;
  color: red;
  font-size: 3rem;
  font-weight: bold;
}
.banner .mission h3{
  text-align: left;
  padding-top: 10px;
  padding-left: 10px;
  color:green;
  font-size: 1.8rem;
}
nav{
  display:flex;
  text-align:left;
  padding-left: 0px;
  padding-right: 0px;
  background-color: Black;;
}
nav ul {
  display: inline-flex;
  line-height: 40px;
}
nav ul li{
  list-style: none;
  padding-right: 15px;
}
nav ul li a {
  font-size:1.8rem;
  list-style: none;
  text-decoration: none;
  color: white;
}
nav ul li a:hover{
  background-color:red;
  border-radius: 3px;
}
nav ul li a img{
  width:20px;
  height:20px;
  padding-right:2px;
}
.lastest_news {
  background-color: orange;
  display: flex;
  text-align:left;
  padding-left: 25px;
}
.lastest_news ul{
}
.lastest_news ul li{
  list-style: none;
}
.lastest_news ul,li,a{
    font-size: 1.1rem;
}
.lastest_news ul li a {
  color: green;
  text-decoration: none;
}
.lastest_news ul li a:hover{
  color: purple;
}
.title{
  display: flex;
  background-color:#cbccc7;
  box-shadow: 2px 1px 1px;
}
.title h2{
  color: red;
  text-align: left;
  padding-left: 20px;
  font-size: 2rem;
  text-decoration: underline;
}

#news{
    display: flex;
    background-color: #f5d8d2;
}
#news .blogs h2,p{;
    text-align:left;
    padding-left: 10px;
}
.blogs h2{
  font-weight: bolder;
}
.musicbox{
  display: flex;
}
.musicbox_figcaption{
  position: relative;
  padding-right: 14px;
}
.musicbox img{
  width: 450px;
  height: 450px;
  border-radius: 3px;
}
.musicbox_figcaption p{
  font-size: 1.1rem;
  max-width: 500px;
  text-align:left;
}
.musicbox_figcaption h2{
  text-align: left;
  padding-left: 20px;
  color: green;
  font-weight: bold;
}
.musicbox .musicbox_figcaption p::first-letter{
  font-weight: bolder;
}
.musicbox:nth-child(2){
  background-color: #bfd5e3;
}
.musicbox:nth-child(3){
  background-color: #b71214;
}
.musicbox:nth-child(4){
  background-color: #b1ac86;
}
.musicbox:nth-child(5){
  background-color: #090d0e;
}
.musicbox:nth-child(5) p{
  color: white;
}

#wishlist {
  display:flex;
    background-color: #41c9d9;
}
.wishlist{

  display: inline-flex;

}
fieldset{
      flex-grow:1;
  box-shadow: 3px 3px 3px;
  border-radius: 2px;
  /* width: 200px; */

  background-image: linear-gradient(to top right,#fed46e 60%,#ba9f53);
}
fieldset h3,h4{
  color:#6a236f;
}

footer{
  display:flex;
  background-color: black;
  text-align: left;
  box-shadow: 3px 3px 3px;
}
footer p{
  padding-left: 5px;
  color: white;
}
footer a{
  color: red;
}
