@font-face
{
    font-family:alice;
    src: url(../fonts/Alice.ttf);
}

body{
   padding: 0;
   margin: 0;
}
.banner{
  height:500px;
  margin-left: auto;
  margin-right:auto;
  margin-top:0px;
  padding-top:1px;
  background-image: url(../pics/tarlorswift.jpg);
  background-size:contain;
  background-repeat: no-repeat;
  background-color: #252f3b;
}
.mission{
  position: relative;
  float: right;
}
.banner .mission h1{
  text-align:center;
  font-size: 3.6rem;
  color:red;
  padding-top:10px;
  font-weight:bold;
}
.banner .mission h2{
  text-align:right;
  padding-top:35px;
  color:white;
  font-size: 3.3em;
  /* font-style: italic; */
  font-weight: bold;
}
.banner .mission h3{
  text-align: right;
  padding-top: 10px;
  color: white;
  font-size: 1.4rem;
  /* font-style: italic; */
}
nav{
  height:70px;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid;
  padding-left: 0px;
  padding-right: 0px;

  background-color: Black;;

}
nav ul {
  display: inline-flex;
  line-height: 52px;
}
nav ul li{
  list-style: none;
  padding-right: 25px;
}

nav ul li a {
  font-size:1.8em;
  list-style: none;
  text-decoration: none;
  color: white;

}
nav ul li a:hover{
  background-color:red;
  border-radius: 3px;
}

nav ul li a img{
  width:20px;
  height:20px;
  padding-right:2px;
}

#news{
    margin-bottom: 10px;
}
.lastest_news {
  width: 50%;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
  margin-left: auto;
  margin-right: auto;
}
.title{
  width:300px;
  height:55px;
  background-color: red;
  margin-bottom: -15px;
  position: relative;
  z-index: 2;
  box-shadow: 2px 1px 1px;
}
.title h2{
  text-align: center;
  font-size: 2.4em;
}
.lastest_news ul li{
  list-style: none;
}
.lastest_news ul,li,a{
    font-size: 1.1em;
}
.lastest_news ul li a {
  text-decoration: none;
}
.musicbox{
  display: flex;
}
.musicbox_figcaption{
  position: relative;
  padding-left: 14px;
}
.musicbox:nth-child(2){
  background-color: #bfd5e3;
}
.musicbox:nth-child(3){
  background-color: #b71214;
}
.musicbox:nth-child(4){
  background-color: #b1ac86;
}
.musicbox:nth-child(5){
  background-color: #090d0e;
}
.musicbox:nth-child(5) p{
  color: white;
}
.musicbox img{
  width: 450px;
  height: 450px;
  border-radius: 3px;
}
.musicbox_figcaption p{
  font-size: 1.1rem;
  max-width: 500px;
  text-align:left;
}
.musicbox .musicbox_figcaption p::first-letter{
  font-weight: bolder;
}
footer{
  text-align: center;
  box-shadow: 3px 3px 3px;
}
